#one{
    float:left;
  }
  
  a{
    text-decoration: none;
  }
  
  .dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

  .nav{
    float:left;
    padding:30px;
    text-decoration: none;
    overflow: hidden;
    margin-left: 50px;
    color:black;
  }
  .card{
   margin-top: 30px;
   height: 27rem;
  }
  #images{
    margin:62px;
  }
  .card-text{
    text-align: center;
  }
  #shop{
    margin-left: 95px;
    
  }
  #two{
    margin-bottom: 60px;
  }